@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" );

*{
    margin: 0;
    padding: 0;
    font-family: roboto;
    font-size: 18px;
    box-sizing: border-box;
}


.container-box{
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-box form {
    background-color: white;
    padding:0px 30px 30px 30px;
    width: 340px;
    border-radius: 8px;
    border: 1px solid #333;
    text-align: center;
}

.container-box form h2{
    font-size: 30px;
    margin: 12px 0;
}

.container-box form .box{
    background-color: whitesmoke;
    padding: 6px 4px;
    margin: 10px 0px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #333;
}

.container-box form .btn{
    text-transform: capitalize;
    margin: 10px;
    padding: 8px 34px;
    font-weight: bolder;
    color: white;
    border-radius: 8px;
    background-color: #FFA500;
    border: none;
}

.container-box form .btn:hover{
    background-color: #333;
}

.container-box form p a{
    color: #3b58d6;
    text-decoration: none;
}

.container-box form p a:hover{
    text-decoration: underline;
}

